* {
  box-sizing: border-box;
}

:root {
  --white: white;
  --black: black;
  --codebg: rgba(black, 0.1);
}

body, html {
  font-size: clamp(16px, 2vw, 26px);
  color: var(--black);
  background: var(--white);
}

svg{
  transition: all ease 0.25s;
  width: 1em;
  height: 1em;

  * {
    fill: currentColor;
  }
}

main {
  width: 100%;
  max-width: 1700px;
  padding: 0 2rem 2rem;
  margin: 0 auto;
}

header, section {
  width: 100%;
}

header {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2rem;
}

header input {
  border-radius: 0.3rem;
  box-shadow: 0 0 10px rgba(black, 0.1);
  padding: 1rem;
  width: 100%;
  border: none;
  font-size: 1rem;
}

section {
  display: flex;
  flex-flow: wrap;
}

.count-results {
  display: flex;
  border-bottom: 1px solid black;
  opacity: 0.5;
  padding-block: 1rem;
  font-size: 0.7rem;
}

.icon-item {
  flex: 1 1 150px;
  min-width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  border-radius: 0;
  opacity: 0.5;
  transition: all ease 0.25s;
  cursor: pointer;
}

.icon-item:hover {
  opacity: 1;
}

.icon-item:hover svg {
  transform: scale(1.3);
}

.icon-item span{
  margin-top: 0.5rem;
  opacity: 0.5;
  font-size: 0.5rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;

  .overlay {
    position: absolute;
    z-index: 1;
    inset: 0;
    border: none;
    background: rgba(var(--white), 0.5);
    backdrop-filter: blur(5px);
  }

  .inner {
    position: relative;
    z-index: 2;
    width: 1000px;
    background: var(--white);
    color: var(--black);
    box-shadow: 0 0 10px rgba(black, 0.1);
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    transform: translateY(2rem);
    transition: all 0.25s ease;

    .close{
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
      background: var(--black);
      color: var(--white);
      width: 50px;
      height: 50px;
      border: none;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.3rem;
    }

    .icon {
      font-size: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 1rem;
      }
    }

    .codes{
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: flex-end;
      padding-left: 2rem;

      .title{
        margin-bottom: 1rem;
        font-size: 0.8rem;
        text-transform: uppercase;
      }

      code {
        font-size: 0.7rem;
        display: block;
        padding: 0.5rem;
        background-color: var(--codebg);
        border: 1px solid currentColor;
        border-radius: 0.3rem;
        user-select: all;
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &.open {
    opacity: 1;
    pointer-events: auto;

    .inner {
      transform: none;
    }
  }
}

.versions {
  background: black;
  color: white;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .versions-inner {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 1700px;
    padding-inline: 2rem;
    padding-block: 0.4rem;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;

    li{
      a{
        display: block;
        color: inherit;
        text-decoration: none;
        font-size: 0.7rem;
        padding: 0.3rem 0.5rem;
        background: rgba(white, 0.2);
        border-radius: 0.3rem;

        &.active {
          background: white;
          color: black;
        }
      }
    }
  }
}
